<div class="content" role="main">
  <h2>Gestión de Peajes</h2>
  <p>Aquí podrás añadir, editar o desactivar un peajes para que se muestren o dejen de mostrar en los listados.</p>

  <div class='content-button'>
    <button class='btn' (click)="onClickNuevoPasaje()">Añadir peaje</button>
  </div>

  <div class='card'>
    <h2 class='card-title'>Listado de Peajes</h2>
    <div class='card-container'>
      <div class='row'>
        <div class='col'>
          <div class='form-group'>
            <label>Departamento</label>
            <input type="text" class='form-control' placeholder='Ingrese departamento' ngModel (ngModelChange)="searchData($event, 'nombrePeaje')" >
          </div>
        </div>
        <div class='col'>
          <div class='form-group'>
            <label>Municipio</label>
            <input type="text" class='form-control' placeholder='Ingrese municipio' ngModel (ngModelChange)="searchData($event, 'municipio')" />
          </div>
        </div>
        <div class='col'>
          <div class='form-group'>
            <label>Nombre peaje</label>
            <input type="text" class='form-control' placeholder='Ingrese nombre pasaje' ngModel (ngModelChange)="searchData($event, 'nombrePeaje')" />
          </div>
        </div>
        <div class='col'>
          <div class='form-group'>
            <label>Estado solicitud</label>
            <input type="text" class='form-control' placeholder='Ingrese estado solicitud' ngModel (ngModelChange)="searchData($event, 'estadoSolicitud')" />
          </div>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th (click)="onClickSortOrder('nombrePeaje')" [ngClass]="onClassTogglerArrow('nombrePeaje')"> Nombre Peaje</th>
            <th (click)="onClickSortOrder('municipio')" [ngClass]="onClassTogglerArrow('municipio')">Municipio</th>
            <th (click)="onClickSortOrder('estadoSolicitud')" [ngClass]="onClassTogglerArrow('estadoSolicitud')">Estado solicitud</th>
            <th (click)="onClickSortOrder('categoriaVehiculo')" [ngClass]="onClassTogglerArrow('categoriaVehiculo')">Categoría vehículo</th>
            <th (click)="onClickSortOrder('usuarioConcesionarioInvias')" [ngClass]="onClassTogglerArrow('usuarioConcesionarioInvias')">Usuario grupo INVAS</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let peaje of filteredData">
            <td>{{peaje.nombrePeaje}}</td>
            <td>{{peaje.municipio}}</td>
            <td>{{peaje.estadoSolicitud}}</td>
            <td>{{peaje.categoriaVehiculo}}</td>
            <td>{{peaje.usuarioConcesionarioInvias}}</td>
            <td>
              <div class='accion'>
                <img src='../assets/eye-solid.svg' alt='' (click)="onClickVer()" />
                <img src='../assets/edit-solid.svg'alt='' (click)="onClickEditar()" />
                <img src='../assets/times-circle.svg' alt='' (click)="onClickEliminar()" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


