<div class="content" role="main">
  <h2>Gestion de Pasajeros</h2>
  <p>Aquí podrás añadir, editar o desactivar un peajes para que se muestren o dejen de mostrar en los listados.</p>

  <div class='content-button'>
    <button class='btn' (click)="onClickNuevoPasaje()">Añadir pasaje</button>
  </div>

  <div class='card'>
    <h2 class='card-title'>Listado de pasajes</h2>
    <div class='card-container'>
      <div class='row'>
        <div class='col'>
          <div class='form-group'>
            <label>Departamento</label>
            <input type="text" class='form-control' placeholder='Ingrese departamento' />
          </div>
        </div>
        <div class='col'>
          <div class='form-group'>
            <label>Municipio</label>
            <input type="text" class='form-control' placeholder='Ingrese municipio'  />
          </div>
        </div>
        <div class='col'>
          <div class='form-group'>
            <label>Nombre pasaje</label>
            <input type="text" class='form-control' placeholder='Ingrese nombre pasaje'  />
          </div>
        </div>
        <div class='col'>
          <div class='form-group'>
            <label>Estado solicitud</label>
            <input type="text" class='form-control' placeholder='Ingrese estado solicitud'  />
          </div>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Nombre Pasaje</th>
            <th>Departamento</th>
            <th>Municipio</th>
            <th>Estado solicitud</th>
            <th>Categoría vehículo</th>
            <th>Usuario grupo INVAS</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dt of data">
            <td>{{dt.nombre_pasaje}}</td>
            <td>{{dt.departamento}}</td>
            <td>{{dt.municipio}}</td>
            <td>{{dt.estado_solicitud}}</td>
            <td>{{dt.categoria}}</td>
            <td>{{dt.usuario}}</td>
            <td>
              <div class='accion'>
                <img src='../assets/eye-solid.svg' alt='' (click)="onClickVer()" />
                <img src='../assets/edit-solid.svg'alt='' (click)="onClickEditar()" />
                <img src='../assets/times-circle.svg' alt='' (click)="onClickEliminar()" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


